# http://editorconfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true #最後のスペース削除
insert_final_newline = true #最後の行を自動追加

[*.{md,markdown}]
trim_trailing_whitespace = false